{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.us-south.cf.cloud.ibm.com",
      "Org": "zacharylawson01@gmail.com",
      "Space": "dev"
    },
    "Name": "COMPX341-A4",
    "Instrumentation": {}
  },
  "Path": "",
  "Type": "Cloud Foundry"
}